{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ pageTitle }}{% endblock %}

{% block body %}

{# {% dump(movie) %} #}
<h1>Ajouter un film</h1>
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit">Valider</button>
<a class="btn btn-link" href="{{ path('movie_list') }}">Annuler</a>
{{ form_end(form) }}

{% endblock %}
