{% extends 'base.html.twig' %}

{% block title %}{{ parent () }}{% endblock %}

{% block body %}

{% dump(category) %}

<h1>{{ category.name | capitalize }}</h1>

<h2>Tous les films de la catégorie <strong>{{ category.name }}</strong></h2>

<ul>
    {% for movie in category.movies %}
    <li><a href="{{ path("movie_view", {id: movie.id} ) }}">{{ movie.title }}</a></li>
   
    {% endfor %}
</ul>

{% endblock %}