{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ pageTitle }}{% endblock %}

{% block body %}

{# {% dump(person) %} #}
<h1>Ajouter une personne</h1>
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit">Valider</button>
{{ form_end(form) }}

{% endblock %}
