{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ pageTitle }}{% endblock %}

{% block body %}

{# {% dump(person) %} #}
<div class="d-flex justify-content-between">
    <h1>Mettre à jour les données de : {{ person.name }}</h1>
    {{ include('person/_delete_form.html.twig') }}
</div>

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit">Valider</button>
<a class="btn btn-link" href="{{ path('person_view', {id : person.id }) }}">Annuler</a>
{{ form_end(form) }}

{% endblock %}